.starBtns input[type="radio"] {
    display: none;
}

.starBtns {
    position: relative;
}

.starBtns label {
    cursor: pointer;
    width: 1.5em;
}

.starBtns label:before {
    content: "\2605";
    font-size: 2em;
    height: 1px;
    width: 20%;
    display: block;
    position: relative;
    color: #101010;
}

.starBtns {
    direction: rtl;
}

.starBtns label:after {
    content: "\2605";
    font-size: 2em;
    display: block;
    position: absolute;
    color: gold;
    top: 0;
    opacity: 0;
}

.starBtns label:hover:after,
.starBtns label:hover ~ label:after,
.starBtns input:checked ~ label:after {
    opacity: 1;
}
